body{

background:#f4f7fc;

font-family:Arial, Helvetica, sans-serif;

}

.card{

border-radius:15px;

border:none;

}

h2{

font-weight:bold;

}

label{

font-weight:bold;

}

.btn{

font-size:18px;

padding:10px;

}

.alert{

font-size:22px;

font-weight:bold;

}